#gtm_accounts_containers,
#gtm_accounts,
#gtm_containers,
#gtm_container_versions,
#gtm_progress {
display: none;
}

#gtm_accounts,
#gtm_containers,
#gtm_container_versions {
font-size: 0.9em;
}

#gtm_api p,
#container p {
margin-top: 0;
}

#get_container {
font-size: 0.9em;
}

#json_container {
  width: 99%;
}

#container_contents {
  display: none;
}

.ui-widget {
  font-size: 1em;
}

.ui-tabs-anchor {
  font-size: 0.9em;
}

.child_list {
  font-size: 0.9em;
}

.type_tag {
  color: blue;
}

.type_trigger {
  color: chocolate;
}

.type_variable {
  color: purple;
}

#error_notification {
  color: red;
  display: none;
  margin: 1em;
  padding: 0.5em 1.5em;
  border: thin solid red;
}
